.container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.heading {
  font-size: 2rem;
  font-weight: 500;
}
.buttons {
  width: -webkit-fill-available;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 3px 6px black;
}
.button {
  border: 1px solid white;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  align-items: right;
  width: 2rem;
  height: 2rem;
}
