.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  background-color: #edf1f7;
  min-width: 280px;
  min-height: 100vh;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
  width: 100%;
  font-weight: bold;
  position: sticky;
  top: 5rem;
}
.item {
  padding: 2rem 5rem 2rem 1rem;
  font-size: 1rem;
  color: #535665;
  width: 70%;
}
.active {
  padding: 2rem 5rem 2rem 1rem;
  font-size: 1rem;
  color: #282c3f;
  background-color: #fff;
  width: 70%;
}
@media screen and (max-width: 990px) {
  .container {
    min-width: 100%;
    min-height: auto;
  }
  .active {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 620px) {
  .item {
    padding: 1rem;
  }
  .active {
    padding: 1rem;
  }
  .items {
    padding: 0.5rem 0rem;
  }
  .container {
    padding: 1.5rem 0rem;
  }
}
