.box {
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem;
  align-items: center;
  justify-content: flex-end;
  background: #2b1e16;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 5rem;
}

.item {
  color: #fff;
  text-align: center;
  max-width: 25%;
}

.image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image img {
  margin-bottom: 2rem;
  height: 250px;
}

.heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0;
}

.para {
  font-size: 1rem;
  margin-top: 10px;
  color: #e0cbc1;
  line-height: 1.3;
}

@media screen and (max-width: 620px) {
  .row {
    flex-wrap: wrap;
  }
  .box {
    flex-wrap: wrap;
  }
  .image img {
    height: 200px;
  }
  .heading {
    font-size: 1.2rem;
  }
  .para {
    line-height: 1;
  }
}
@media screen and (max-width: 320px) {
  .image img {
    height: 100px;
  }
  .heading {
    font-size: 1rem;
  }
  .para {
    font-size: 0.7rem;
    line-height: 1;
  }
}
