.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.heading {
  font-size: 2rem;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  border: 1px solid #d4d5d9;
  min-height: 140px;
}

.box_left {
  padding: 1rem 0rem 0rem 0.5rem;
  flex: 1;
}
.box_right {
  padding: 1rem;
  flex: 4;
  height: 130px;
}
.box_right h1 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 3px;
}
.box_right p {
  font-size: 0.8rem;
  color: #535665;
  line-height: 20px;
  margin-top: 2px;
}
.right_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.right_buttons button {
  color: #fc8019;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: -0.3px;
}

@media screen and (max-width: 580px) {
  .box {
    width: auto;
  }
}
