.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  gap: 1rem;
  padding: 2rem 0rem 3rem 0rem;
  min-height: 90vh;
}

@media screen and (max-width: 620px) {
  .box {
    width: 90%;
  }
}
