.container,
.left,
.right,
.right_part {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0rem;
}
.container {
  box-shadow: 0 6px 6px -3px #bebebe;
}
.left {
  gap: 1rem;
  padding-left: 5%;
}
.right {
  gap: 2rem;
  padding-right: 5%;
}
.right_part {
  gap: 1rem;
}
.left_image {
  width: 65px;
  height: 65px;
}
.left_image img {
  width: 100%;
  height: 100%;
}
.left_place {
  padding: 5px;
  color: #686b78;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  cursor: pointer;
}
.left_place span {
  min-width: 30px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  border-bottom: 0.15rem solid black;
}
.left_image_arrow {
  border: solid #fc8019;
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  cursor: pointer;
}
.right_image {
  width: 15px;
  height: 15px;
}
.right_text {
  color: #000000;
  cursor: pointer;
  font-size: 1.2rem;
}
.right_part :hover {
  color: #fc8019;
}
.right_text span {
  color: #fc8019;
  font-size: 0.5rem;
  position: absolute;
  font-weight: bold;
}
.active span {
  color: #fc8019;
  font-size: 0.5rem;
  position: absolute;
  font-weight: bold;
}
.right_number {
  border: 2px solid #fc8019;
  padding: 2px 5px;
  border-radius: 5px 5px 2px 2px;
}
.right_number_green {
  border: 2px solid #60b246;
  padding: 2px 5px;
  color: #60b246;
  border-radius: 5px 5px 2px 2px;
}
.right_number_green:hover {
  color: #ff0f00;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1040px) {
  .container {
    justify-content: center;
  }
  .right {
    padding-right: 0%;
  }
}
@media screen and (max-width: 620px) {
  .left {
    gap: 0.5rem;
  }
  .right {
    gap: 1rem;
    justify-content: center;
  }
  .right_part {
    gap: 0.5rem;
  }
  .right_text {
    font-size: 1.1rem;
  }
  .active {
    font-size: 1.1rem;
  }
}
.active {
  color: #fc8019;
  font-size: 1.2rem;
}

@media screen and (max-width: 540px) {
  .container {
    height: 3rem;
    width: -webkit-fill-available;
    position: fixed;
    background: #ffffff;
  }
  .left i {
    display: none;
  }
  .left {
  }
  .left_image {
    position: absolute;
    top: 0.1rem;
    left: 0.4rem;
  }
  .left_phone_other {
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .left_image img {
    width: 1.7rem;
    height: 1.7rem;
  }
  .left_place {
    position: absolute;
    top: 1.6rem;
    left: 0.4rem;
    font-weight: 400;
  }
  .left_place span {
    display: none;
  }
  .left_image_arrow {
  }
  .right {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    box-shadow: 0 6px 6px -3px #bebebe;
    background: #ffffff;
    z-idex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0rem 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .offers {
    position: absolute;
    top: -91vh;
    right: 3rem;
    display: flex;
    flex-direction: row;
  }
  .right_text {
    font-size: 0.8rem;
  }
  .offers_text {
    position: absolute;
    top: 0.4rem;
    margin-left: 0.5rem;
    left: 1rem;
    width: 100px;
  }
  .active {
    font-size: 0.8rem;
  }
  .right_part {
    flex-direction: column;
    gap: 0.1rem;
    height: 2.6rem;
  }
  .right_number_green {
    padding: 1px 4px;
    text-align: center;
  }
  .right_text span {
    display: none;
  }
  .active span {
    display: none;
  }
}
