.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
.box {
  width: 60%;
  padding-bottom: 2rem;
}
.part2 {
  padding: 1rem;
  border-bottom: 1px dashed #282c3f73;
  width: 90%;
  font-size: 0.9rem;
  color: #3d4152;
  font-weight: 600;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 620px) {
  .box {
    width: 90%;
  }
}
