.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 27%;
  position: fixed;
  z-index: 210;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #282c3f;
  opacity: 0.7;
  z-index: 200;
  display: block;
}
.close {
  padding-bottom: 1.2rem;
  cursor: pointer;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 210;
  width: 100%;
  padding: 6rem 4rem;
  background: #ffffff;
  height: 100vh;
  animation-name: my-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.Input_searchLocations input {
  border: 2px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
  width: 100%;
  padding: 1.2rem;
  padding-left: 0.75rem;
}
.Input_searchLocations input:focus {
  border: 1.2px solid #fc8019;
  caret-color: #fc8019;
}
.Input_searchLocations {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.searchLocations {
  width: 96%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6rem;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid black;
}

.searchLocationBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchLocationBox img {
  width: 30px;
  height: 30px;
}
.searchLocation {
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  width: 100%;
  padding: 1rem;
  padding-left: 0.75rem;
  border-bottom: 1px dashed #bebfc5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #535665;
}
.searchLocation:hover {
  color: #fc8019;
}
@keyframes my-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.AllSearchLocationBox {
  max-height: 70vh;
  overflow-y: scroll;
  width: 100%;
}
@media screen and (max-width: 620px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 50%;
  }
  .location {
    padding: 1rem;
  }
  .Input_searchLocations input {
    font-size: 0.75rem;
    padding: 0.52rem;
    padding-left: 0.5rem;
    text-overflow: ellipsis;
  }
  .searchLocation {
    padding: 0.3rem;
    font-size: 0.75rem;
  }
}
